<urlrewritingnet  rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
<rewrites>
 <!-- <add name="SanPham" virtualUrl="^~/sp/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ChiTietSp.aspx?Sp=$1&amp;ten=$2" ignoreCase="true"/>
  <add name="SanPham_list" virtualUrl="^~/sp-list/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GroupIterm.aspx?loai=$1&amp;ten=$2" ignoreCase="true"/>
  <add name="SanPham_detail" virtualUrl="^~/sp-detail/(.*)/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?View=ProductDetail&amp;gid=$1&amp;pid=$2" ignoreCase="true"/>
  <add name="SanPham_Result" virtualUrl="^~/tim-kiem.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?View=SearchResult" ignoreCase="true"/>
-->
  <add name="baiviet" virtualUrl="^~/bv/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=$1&amp;ten=$2" ignoreCase="true"/>
  <add name="baiviet_list" virtualUrl="^~/bv-list/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GroupArticle.aspx?loai=$1&amp;ten=$2" ignoreCase="true"/>
  <add name="dvvtt_list" virtualUrl="^~/dich-vu-van-tai.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Dich-vu.aspx" ignoreCase="true"/>
  <!-- bài viết chi tiết-->
  <add name="lien he" virtualUrl="^~/lien-he.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=3" ignoreCase="true"/>
  <add name="cpvanchuyen" virtualUrl="^~/gioi-thieu.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=4" ignoreCase="true"/>
  <add name="baogia" virtualUrl="^~/bao-gia.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=5" ignoreCase="true"/>
  <add name="ptdoitra" virtualUrl="^~/quy-dinh-doi-va-tra-hang.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=6" ignoreCase="true"/>
  <add name="lienlacx" virtualUrl="^~/lien-he.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=7" ignoreCase="true"/>
  <add name="huongdanmua" virtualUrl="^~/huong-dan-mua-hang.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ArticleDt.aspx?bv=8" ignoreCase="true"/>
  <add name="nhomtintuc" virtualUrl="^~/tin-tuc.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GroupArticle.aspx?loai=1" ignoreCase="true"/>
  <add name="nhomgiai" virtualUrl="^~/giai-tri.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GroupArticle.aspx?loai=14" ignoreCase="true"/>
  <add name="nhomtinhoc" virtualUrl="^~/tin-hoc.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GroupArticle.aspx?loai=15" ignoreCase="true"/>
</rewrites>
</urlrewritingnet>
